body{
		font-size:12px;
		margin:0px auto;
		}
	#header{
		height:260px;
		width:770px;
		background-image:url(../myimage/header.jpg);
		background-repeat:no-repeat;
		margin:0px 0px 3px 0px
		}
	#nav{
		height:25px;
		width:770px;
		font-size:14px;
		list-style-type:none
		}
	#nav li{
		float:left;
		}
	#nav li a{
		color:#000000;
		text-decoration:none;
		padding-top:4px;
		display:block;
		width:97px;
		height:22px;
		text-align:center;
	 	background-color:#009966;
		margin-left:2px
		}
	#nav li a:hover{
		background-color:#006633;
		color:#ffffff
		}
	#main{
		width:770;
		height:auto;
		background-color:#9FF;
		margin-top:10px;
		padding-left:40px;
		}
	#left{
		float:left;
		}
	#right{
		float:right;
		}
		
	#attention{
		width:770px;
		height:auto;
		border:1px solid #00F;
		}
	#attention td{
		border:1px solid #00f;
		width:256px;
		}
	#atten_nav{
		margin-top:5px;
		list-style-type:none
		}
	#atten_nav li{
		color:#00F;
		}
	.atten_new{
		color:#90F;
		text-align:center;
		font-family:Verdana, Geneva, sans-serif;
		background-color:#CFC;
		font-size:16px;
		font-style:normal;
		font-weight:bolder;
		margin:0px 0px 0px 0px;
		}
	#atten_nav li a:link{
		color:#006633;
		text-decoration:none;
		}
	#atten_nav li a:visited{
		color:#006633;
		text-decoration:none
		}
	#atten_nav li a:hover {
		color:#000000;
		text-decoration:none;
    }
    #atten_nav li a:active {
		color:#FFFFFF;
		text-decoration:none;
    }
    
    #first{
		border:1px solid #36F;
		}
	#head{
		font-family:Verdana, Geneva, sans-serif;
		font-weight:bold;
		font-size:20px;
		color:#EEE;
		width:769px;
		height:30px;
		background-color:#36F;
		}
	#content{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:lighter;
		font-size:12px;
		}
	#content td{
		padding-left:6px;
		height:28px;
		color:#006633;
	}
	
	.tp{
		width: 140px;
		background-color: #FFC;
	}
	
