<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="userManager" class="com.TzTwork.awa.antworkagent.login.biz.UserManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean name="/loginAction" class="com.TzTwork.awa.antworkagent.login.action.LoginAction">
		<property name="userManager" ref="userManager"></property>
	</bean>
	
	<bean name="/managerAction" class="com.TzTwork.awa.antworkagent.manager.ManagerAction">
		<property name="userManager" ref="userManager"></property>
	</bean>
</beans>