<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 模板 -->
	<bean id="userInfoDAO" class="com.antsite.medol.dao.UserInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userInfoBO" parent="baseTxProxy">
		<property name="target">
			<bean class="com.antsite.medol.impl.UserInfoImpl"
				autowire="byName">
				<property name="userInfoDAO">
					<ref bean="userInfoDAO"></ref>
				</property>
			</bean>
		</property>
	</bean>
</beans>