.ziti1{
	font:normal normal bold 10pt arial; COLOR: #FFF
}
.ziti2{
	font:normal normal normal 10pt arial; COLOR: #FFF
}
.ziti3{
	font:normal normal normal 9pt arial; COLOR: #FFF
}
.ziti4{
	font:normal normal bold 8pt arial; COLOR: #444444
}
.ziti5{
	font:normal normal normal 8pt arial; COLOR: #444444
}
.ziti6{
	font:normal normal normal 8pt arial; COLOR: #666666
}
.ziti7{
	font:normal normal normal 10pt arial; COLOR: #444444
}